#===========================================================
# General
#===========================================================
~*
*~
~$* 

#===========================================================
# Visual Studio files
#===========================================================
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.lib
*.sbr
*.sdf
*.opensdf
*.dbmdl
*.sqlsuo
*.sln.metaproj
*.csproj.user
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
UpgradeLog.XML 
PublishProfiles
*.DotSettings
*.DotSettings.user
*.pubxml
*.pubxml.*
.idea/

# Visual Studio 2015 cache/options directory
.vs/


#===========================================================
# MonoDevelop
#===========================================================
*.pidb
*.userprefs

#===========================================================
# Tooling Files
#===========================================================
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache


#===========================================================
# Versioning files
#===========================================================
.svn
git-stats/*.*


#===========================================================
#NuGet
#===========================================================
*.nupkg
packages/*
!packages/repositories.config

#===========================================================
#ncrunch
#===========================================================
*ncrunch*
*crunch*.local.xml


#===========================================================
#Test files
#===========================================================
*.testsettings

#===========================================================
# Temporary Files
#===========================================================
*.tmp

#===========================================================
# Log Files
#===========================================================
[Ll]og
[Ll]ogs
*.log.*
*.log-*
*.log*

#===========================================================
# MySql
#===========================================================
*.s3db


#===========================================================
# DNX Files
#===========================================================
.publish
GlobalAssemblyInfo.cs 
